/* -- Esercizio 1 -- */
.ex-1-square{
    transition: background 2s;
}
.ex-1-square:hover{
    background: red;
}

/* -- Esercizio 2 -- */
.ex-2-square{
    transition: 2s;
}
.ex-2-square:active{
    width: 100%;
}

/* -- Esercizio 3 -- */
.ex-3-square{
    transition: 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/* -- Esercizio 4 -- */
.ex-4-square{
    transition: 2s;
}
.ex-4-square:hover{
    background: transparent;
}

/* -- Esercizio 5 -- */
.ex-5-square{
    transition: 2s;
}
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
}

/* -- Esercizio 6 -- */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* -- Esercizio 7 -- */
.ex-7-img{
    transition: 2s;
}
.ex-7-img:hover{
    filter: grayscale(0.8) sepia(0.5);
}

/* -- Esercizio 8 -- */
.ex-8-img{
    transition: 2s;
}
.ex-8-img:hover{
    filter: grayscale(0.8) sepia(0.5);
    border-radius: 10px;
}

/* -- Esercizio 9 -- */
.ex-9-img{
    transition: 2s;
}
.ex-9-img:hover{
    filter: grayscale(0.8) sepia(0.5);
    border-radius: 10px;
    transform: scale(1.5);
}

/* -- Esercizio 10 -- */
.ex-10-icon{
     animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* -- Esercizio 11 -- */
.ex-11-icon:hover{
     animation: spin2 2s linear;
}
@keyframes spin2 {
  0% { transform: rotate(0deg); }
  75% { transform: rotate(270deg); }
}

/* -- Esercizio 12 -- */
.ex-12-button:hover .ex-12-top-white{
    animation: ahead 1s linear;
}
@keyframes ahead {
  0% { left: 10%;}
  50% { left: 60%;}
  100% { left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: backward 2s linear;
}
@keyframes backward {
    0% { right: 10%;}
    50% { right: 60%;}
    100% { right: 10%;}
}

/* -- Esercizio 13 -- */
.ex-13-button:hover .ex-13-top-white {
    animation: full-move 2s linear;
}

@keyframes full-move {
    0% { top: -10px;
         left: 10%;}

    30%{ top: -10px;
         right: 0;}

    45%{ top: 100%;
         left: calc(100%);}

    75%{ top: 100%;
         left: 0;}

    90%{ top: -15px;
         left: -15px;}

    100%{ top: -10px;
          left: 10%;}
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: fullback-move 2s linear;
}

@keyframes fullback-move {
    0% { bottom: -10px;
         right: 20%;}

    30%{ bottom: -10px;
         right: calc(100%)}

    45%{ bottom: 100%;
         right: calc(100%);}

    75%{ bottom: 100%;
         right: 0;}

    90%{ bottom: -15px;
         right: -15px;}

    100%{ bottom: -10px;
          right: 20%;}
